@import '../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
    }
     ::ng-deep .example-smart-table {
        .form-control {
            color: nb-theme(form-control-color);
        }
    }
}

p {
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.custom-column {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.margin-heading {
    margin-bottom: 30px;
    font-family: 'Cerebri Sans';
}

.form-setting h1 {
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
}

.overall-button {
    text-align: center;
    margin-top: 90px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    font-family: 'Cerebri Sans';
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.top-row p {
    width: 53%;
    font-family: 'Cerebri Sans';
}

.org-list-item {
    border-radius: 10px;
    border: solid 1px #e5e5e5;
    justify-content: flex-start;
    background: #fff;
    width: 48%;
    min-height: 350px;
    flex-flow: row wrap;
    cursor: pointer;
    margin-top: 30px;
}

.org-list-loop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 100px;
}

.org-list-item img {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.border_center {
    border-top: solid 1px #e9edf4;
}

.org-list-item h3 {
    font-size: 16px;
    font-weight: 500;
    color: #006a68;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Cerebri Sans';
}

.org-list-item p {
    font-size: 12px;
    font-weight: 500;
    color: #6d7278;
    font-family: 'Cerebri Sans';
    margin-top: 0px;
}

.events-data {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bottom-events-data {
    margin-top: 10px;
}

.margin-top {
    margin-top: -25px !important;
}

.draft {
    opacity: 0.6;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    color: #3b4859;
    margin-top: -27px !important;
    margin-bottom: 0px !important;
    font-family: 'Cerebri Sans';
}

.events-data img {
    display: inline !important;
    margin-top: 11px;
    margin-right: 2px;
    border-radius: 0px;
}

.top-profile {
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 24px;
}

.top-profile p {
    opacity: 0.48;
    font-size: 12px;
    color: #3b4859;
    margin: 0px;
    padding: 0px;
    font-family: 'Cerebri Sans';
}

.top-profile h3 {
    font-size: 16px;
    color: #3b4859;
    margin: 0px;
    padding: 0px;
    margin-top: -8px;
    font-family: 'Cerebri Sans';
    font-weight: 400;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 9%;
    position: relative;
    width: 12%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 40%;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 40%;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 48%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1743px) {
    .main-heading {
        width: 72%;
    }
    .top-row p {
        width: 80%;
    }
}