<!-- <nb-card>
    <nb-card-header>
     Events
	 <button class="btn btn-primary" routerLink="/pages/addevent">Create Event</button>
	 
     <select  class="form-control input-sm" name="organisation" (change)="navigateTo($event.target.value)">
        <option value="" disabled="" selected="">Select organization</option>
        <option *ngFor="let arr of arrorg.organization" value="{{arr.id}}">{{arr.title}}</option>
     </select>

    
    </nb-card-header>
    
    <nb-card-body>
       
<ng2-smart-table class="example-smart-table"
[settings]="settings"
[source]="this.arrevents.events"
(createConfirm)="addEvent($event)"
    (deleteConfirm)="deleteEvent($event)"
    (editConfirm)="updateEvent($event)">
</ng2-smart-table>
    </nb-card-body>
</nb-card> -->


<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">

        <div class="top-row">
            <div class="main-heading">
                <h1>Events</h1>
                <p>Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush</p>

            </div>

            <div class="overall-button">
                <a href="#">Create a new event</a>

            </div>
        </div>




        <div class="org-list-loop">


            <div class="org-list-item">
                <img src="assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>
                        <p class="draft text-right"><img src="assets/images/edit.svg" alt=""> draft</p>
                    </div>
                </div>
            </div>


            <div class="org-list-item">
                <img src="assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>
                        <p class="draft text-right"><img src="assets/images/edit.svg" alt=""> draft</p>
                    </div>
                </div>


            </div>


            <div class="org-list-item">
                <img src="../../assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>
                        <p class="draft text-right"><img src="assets/images/edit.svg" alt=""> draft</p>
                    </div>
                </div>


            </div>



            <div class="org-list-item">
                <img src="assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>
                        <p class="draft text-right"><img src="assets/images/edit.svg" alt=""> draft</p>
                    </div>
                </div>


            </div>




        </div>













    </div>
</div>