/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Single Application / Multi Application License.
 * See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
 */

@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@include nb-install-component() {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .socials {
        font-size: 2rem;
        a {
            padding: 0.4rem;
            color: nb-theme(text-hint-color);
            transition: color ease-out 0.1s;
            &:hover {
                color: nb-theme(text-basic-color);
            }
        }
    }
    @include media-breakpoint-down(is) {
        .socials {
            font-size: 1.5rem;
        }
    }
}