<nb-card>
   
    <nb-card-header>
      Landing Page
      <button type="button" class="btn btn-primary" routerLink="/pages/addlandingpage">Add Landing Page</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arrlanding.Landingpages"
      (editConfirm)="updatelandingpage($event)"
      (deleteConfirm)="deletelandingpage($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>