<!-- <nb-card>
   
    <nb-card-header>
      Tickets
      <button type="button" class="btn btn-primary" routerLink="/pages/addexhibitors">Add Exhibitor</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arrexpo.Exhibitors"
      (deleteConfirm)="deletexpo($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card> -->


<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
          <option>Preview</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>Expo</h1>



            </div>

            <div class="overall-button">
                <a href="#">Add Exhibitor</a>

            </div>
        </div>


        <div class="overall-data_setting">
            <div class="data-set">


                <div class="announcement">
                    <span class="ann-geading">Enable attendees creating own sessions</span> <span class="toggle_btn"><label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
                    </label>
                    </span>

                </div>
                <div class="bottom-row">


                    <div class="overall-button float-right margin-dn">
                        <a href="#">Save</a>

                    </div>

                </div>

            </div>

        </div>



        <div class="form-row custom_doen">

            <div class="form-group col-md-12">
                <label for="inputPassword4" class="my-custom-one">Search for Exhibitors</label>
                <input type="text" class="form-control my-custom-one" id="inputPassword4" placeholder="Search for Exhibitors">
            </div>

        </div>




        <div class="ticket-table">

            <div class="table_bar"><img src="assets/images/nav-bar.png" alt=""></div>

            <div class="table_logo"><img src="assets/images/expo-logo.png" alt=""></div>
            <div class="table-responsive-sm">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Booth Size</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Artivist</td>
                            <td>
                                <div class="help_section">
                                    <div class="form-group">

                                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Small</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                                    </div>

                                </div>
                            </td>
                            <td><img src="assets/images/action.svg"></td>

                        </tr>

                    </tbody>
                </table>


            </div>

        </div>




    </div>

</div>