<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
              <option>Preview</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">


        <div class="overall-blocks_setting">

            <div class="left-block-setting">
                <div class="top-row">
                    <div class="main-heading">
                        <h1>Event Details</h1>


                    </div>

                    <div class="overall-button">
                        <a href="#">Publish Event</a>

                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Event Name</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Info">
                    </div>

                </div>




                <div class="form-date-time">



                    <div class="datepicker-select">

                        <div class="left-blocks-data">
                            <h3> Start</h3>
                            <div class="left-selection">
                                <div class="picker-one">
                                    <input _ngcontent-bwj-c348="" nbinput="" placeholder="Event Start" class="size-medium status-basic shape-rectangle nb-transition">
                                    <!--   <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                                    <div class="icons"><img src="assets/images/date-pick.svg" alt=""> </div>
                                </div>
                                <div class="picker-one">
                                    <input _ngcontent-bwj-c348="" nbinput="" placeholder="Time" class="size-medium status-basic shape-rectangle nb-transition">
                                    <!--  <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                                    <div class="icons"><img src="assets/images/time-pick.svg" alt=""> </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-blocks-data margin-left-set">
                            <h3> End</h3>
                            <div class="left-selection">
                                <div class="picker-one">
                                    <input _ngcontent-bwj-c348="" nbinput="" placeholder="Event End" class="size-medium status-basic shape-rectangle nb-transition">
                                    <!--  <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                                    <div class="icons"><img src="assets/images/date-pick.svg" alt=""> </div>
                                </div>
                                <div class="picker-one right_none">
                                    <input _ngcontent-bwj-c348="" nbinput="" placeholder="Time" class="size-medium status-basic shape-rectangle nb-transition">
                                    <!--  <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                                    <div class="icons"><img src="assets/images/time-pick.svg" alt=""> </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="event-four-blocks">
                        <div class="block active margin-set">
                            <h5>Stage</h5>
                            <p>Your Event Stage</p>
                            <div class="tick"><img src="assets/images/tick.svg" alt=""></div>
                        </div>
                        <div class="block active">
                            <h5>Sessions</h5>
                            <p>Your Event Stage</p>
                            <div class="tick"><img src="assets/images/tick.svg" alt=""></div>
                        </div>
                        <div class="block">
                            <h5>Networking</h5>
                            <p>Your Event Stage</p>
                            <div class="tick"><img src="assets/images/tick-grey.svg" alt=""></div>
                        </div>
                        <div class="block active">
                            <h5>Expo</h5>
                            <p>Your Event Stage</p>
                            <div class="tick"><img src="assets/images/tick.svg" alt=""></div>
                        </div>

                    </div>



                </div>
                <div class="org-list-item">
                    <img src="assets/images/event-detail.png" class="img-fluid" alt="">

                    <div class="events-data">
                        <h3>Dragon Global 2020</h3>
                        <p>Hosted by Dragon Global</p>
                        <div class="border_center"></div>
                        <div class="bottom-events-data">
                            <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                            <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>

                        </div>
                    </div>
                </div>
            </div>



            <div class="right-block_setting">

                <div class="event-ticketss">
                    <p><img src="assets/images/tick-small.svg" alt=""> Event details added</p>
                    <p><img src="assets/images/close.svg" alt=""> Tickets created</p>

                </div>


            </div>

        </div>


    </div>
</div>