<!-- <nb-card>
   
    <nb-card-header>
     Stage
      <button type="button" class="btn btn-primary" routerLink="/pages/addstage">Add Stage</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arrstages.stages"
      (editConfirm)="updatestage($event)"
      (deleteConfirm)="deletestage($event)"
      >
      </ng2-smart-table> 
    </nb-card-body>
  </nb-card> -->


<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
          <option>Preview</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>






<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>Networking</h1>



            </div>

            <div class="overall-button">
                <a href="#">Publish Event</a>

            </div>
        </div>

        <div class="two_selections">

            <a href="#">Convene Studio</a>
            <a class="left_margin" href="#">RTMP Stream</a>

        </div>

        <div class="data-set">


            <div class="main-heading top_dowwwn">
                <h1>Maximum meeting duration</h1>



                <div class="form-areae_new">

                    <label for="inputEmail4">In minutes</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="0">

                </div>
            </div>



        </div>






        <div class="bottom-row">


            <div class="overall-button float-right margin-dn">
                <a href="#">Save</a>

            </div>

        </div>




    </div>
</div>