<h1>New Reception</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="receptionForm" (ngSubmit)="addreception()">
    <div class="form-group">
	 <label for="reception_data">Reception Data:</label>
	  <textarea class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="reception_data"
      formControlName="reception_data" rows="10" cols="30"></textarea>
    </div>
	<div class="form-group"> 
      <label for="event_banner">Event Banner:</label>
      <input type="file" nbInput
      fullWidth
      fieldSize="large"
      id="event_banner"
      formControlName="event_banner"
       class="form-control" >
    </div>
	<div class="form-group">
      <label for="announcement_feed">Announcement Feed:</label>
      <input type="checkbox" fullWidth
      fieldSize="large"
      id="announcement_feed"
      formControlName="announcement_feed">
    
    </div>
	<div class="form-group">
      <label for="show_sponsors">Show Sponsors:</label>
      <input type="checkbox" fullWidth
      fieldSize="large"
      id="show_sponsors"
      formControlName="show_sponsors">
    
    </div>
	<div class="form-group"> 
      <label for="welcome_video_link">Welcome Video:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="welcome_video_link"
      formControlName="welcome_video_link"
       class="form-control" required >
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
