/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Single Application / Multi Application License.
 * See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
 */

@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
    .menu-sidebar ::ng-deep .scrollable {
        padding-top: nb-theme(layout-padding-top);
    }
}

nb-layout-column {
    padding: 0px !important;
}

::ng-deep.layout {
    background: none;
}

nb-layout-header {
    color: #222b45;
    box-shadow: none !important;
    height: inherit;
    padding: inherit;
}

::ng-deep.nb-theme-default nb-layout-header {
    max-width: 1920px;
    margin-left: auto;
    margin-right: inherit !important;
    width: 85% !important;
}

::ng-deep.nb-theme-default nb-layout-header nav {
    box-shadow: none;
    background: #fbfbfb;
}

::ng-deep.nb-theme-default nb-layout .layout {
    background: #fff;
}

::ng-deep.nb-theme-default nb-layout-header.fixed~.layout-container nb-sidebar .main-container {
    top: 0px;
}

::ng-deep.nb-theme-default nb-sidebar {
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    width: 287px !important;
}

::ng-deep .nb-theme-default nb-sidebar .main-container {
    width: 18rem;
}

 ::ng-deep.nb-theme-default nb-menu ul.menu-items {
    margin-top: -8px;
}

::ng-deep.nb-theme-default nb-menu .menu-group,
::ng-deep.nb-theme-default nb-menu .menu-item a {
    padding: 0.79rem 1rem;
    padding-left: 75px;
    font-size: 14px;
    color: #6d7278;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
     ::ng-deep.nb-theme-default nb-sidebar {
        display: none;
    }
     ::ng-deep.nb-theme-default nb-layout-header {
        width: 100% !important;
        padding: 0px;
    }
     ::ng-deep.nb-theme-default nb-layout-header nav {
        padding: 0px;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
     ::ng-deep.nb-theme-default nb-sidebar {
        display: none;
    }
     ::ng-deep.nb-theme-default nb-layout-header {
        width: 100% !important;
        padding: 0px;
    }
     ::ng-deep.nb-theme-default nb-layout-header nav {
        padding: 0px;
    }
     ::ng-deep.nb-theme-default nb-sidebar.compacted.start.fixed~.content {
        margin-left: 0rem !important;
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
     ::ng-deep.nb-theme-default nb-sidebar {
        display: none;
    }
     ::ng-deep.nb-theme-default nb-layout-header {
        width: 100% !important;
        padding: 0px;
    }
     ::ng-deep.nb-theme-default nb-layout-header nav {
        padding: 0px;
    }
     ::ng-deep.nb-theme-default nb-sidebar.compacted.start.fixed~.content {
        margin-left: 0rem !important;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
     ::ng-deep.nb-theme-default nb-sidebar {
        display: none;
    }
     ::ng-deep.nb-theme-default nb-layout-header {
        width: 100% !important;
        padding: 0px;
    }
     ::ng-deep.nb-theme-default nb-layout-header nav {
        padding: 0px;
    }
     ::ng-deep.nb-theme-default nb-sidebar.compacted.start.fixed~.content {
        margin-left: 0rem !important;
    }
}

@media screen and (min-width:1025px) and (max-width: 1199px) {
     ::ng-deep.nb-theme-default nb-sidebar {
        display: none;
    }
     ::ng-deep.nb-theme-default nb-layout-header {
        width: 100% !important;
        padding: 0px;
    }
     ::ng-deep.nb-theme-default nb-layout-header nav {
        padding: 0px;
    }
     ::ng-deep.nb-theme-default nb-sidebar.compacted.start.fixed~.content {
        margin-left: 0rem !important;
    }
}