<h1>New Sponsor</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="sponsorsForm" (ngSubmit)="addsponsors()">
   
	<div class="form-group">
      <label for="sponsor_name">Sponsor Name:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="sponsor_name"
      formControlName="sponsor_name">
    </div>
	<div class="form-group">
      <label for="sponsor_link">Sponsor Link:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="sponsor_link"
      formControlName="sponsor_link">
    </div>
	<div class="form-group">
      <label for="choose_order">Choose Order:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="choose_order"
      formControlName="choose_order">
    </div>
	
	<div class="form-group">
      <label for="sponsor_logo">Sponsor Logo:</label>
      <input type="file" class="form-control" 
      id="sponsor_logo" (change)="imageupload($event)">
    </div>
	
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
