<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>
    <div class="publishbtn"><a href="#">Publish Event</a></div>
    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
      <option>Preview</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>E-mail Attendees</h1>



            </div>


            <div class="overall-button">
                <a href="#">Create E-mail</a>

            </div>
        </div>

        <div class="form-row ">



            <div class="ticket-table">



                <div class="form-group col-md-12">
                    <label for="inputPassword4" class="my-custom-one">Search</label>
                    <input type="text" class="form-control my-custom-one" id="inputPassword4" placeholder="Search for Attendees">
                    <img src="assets/images/search-icon.png" alt="">
                </div>

            </div>
        </div>


        <div class="table-responsive">
            <div class="ticket-table">




                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Subject</th>
                            <th scope="col">Recepients</th>
                            <th scope="col">Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Event Cancelled</td>
                            <td>120</td>
                            <td>08/10/2020</td>
                            <td>Drafts</td>
                            <td><img src="assets/images/action.svg"></td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>










    </div>

</div>