p {
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.custom-column {
    width: 55%;
    margin-left: 15%;
    padding-bottom: 100px;
    padding-top: 0px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Cerebri Sans';
    color: #3b4859;
}

.margin-heading {
    margin-bottom: 30px;
}

.form-setting h1 {
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
}

.overall-button {
    margin-top: 20px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    font-family: 'Cerebri Sans';
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    display: block;
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.border_center {
    border-top: solid 1px #e9edf4;
}

.bottom-events-data {
    margin-top: 10px;
}

.margin-top {
    margin-top: -25px !important;
}

.top-profile {
    display: flex;
}

.top-profile p {
    opacity: 0.48;
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
    margin: 0px;
    padding: 0px;
}

.top-profile h3 {
    font-size: 16px;
    color: #3b4859;
    margin: 0px;
    padding: 0px;
    font-family: 'Cerebri Sans';
    margin-top: -8px;
    font-weight: normal;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 15%;
    position: relative;
    width: 12%;
    padding-left: 17px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Cerebri Sans';
    color: #3b4859;
}

.border-bottom {
    border-top: 1px solid #e9edf4;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-set {
    margin-left: 0% !important;
}

.events-data img {
    display: inline !important;
    margin-top: 11px;
    margin-right: 2px;
    border-radius: 0px;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 9%;
    position: relative;
    width: 12%;
}

.right_none {
    margin-right: 0px;
}

.custom-preview .form-control {
    background: #939393;
    height: 30px;
    border-radius: 9px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    min-width: 146px;
    font-family: 'Cerebri Sans';
    font-size: 12px;
}

.custom-preview {
    position: absolute;
    right: 13%;
    top: 11px;
    font-family: 'Cerebri Sans';
}

.move-down {
    margin-top: 60px;
}


/* .my-custom-one {
margin-left: 20px;
} */

.top-down {
    margin-top: 10px;
}

.overall-css {
    padding-bottom: 80px;
    margin-top: 50px;
}


/* toggle-switch */

.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 13px;
    margin-left: 50px;
}

.switch input {
    opacity: 0;
    width: 0;
    font-family: 'Cerebri Sans';
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a2a2a2;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #006a68;
}

input:focus+.slider {
    box-shadow: 0 0 1px #006a68;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* toggle-switch */

.announcement {
    display: flex;
    justify-content: space-between;
    font-family: 'Cerebri Sans';
}

.welcome-video {
    width: 35%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c9c9c9;
    opacity: 1;
    font-family: 'Cerebri Sans';
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

.ann-geading {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    font-family: 'Cerebri Sans';
    color: #006a68;
}

.toggle_btn {
    margin-top: 5px;
}

.selections .form-control {
    background: #939393;
    height: 40px;
    border-radius: 9px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    font-family: 'Cerebri Sans';
    min-width: 146px;
    font-size: 12px;
}

.selections {
    width: 30%;
}

.top_dowwwn {
    margin-top: 32px;
    margin-bottom: 32px;
}

.margin-dn {
    margin-top: 50px;
}

.two_selections {
    margin-top: 21px;
}

.two_selections a {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    font-family: 'Cerebri Sans';
    color: #525e6d;
    text-decoration: none;
}

.left_margin {
    padding-left: 26px;
}

.two_selections a:hover {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #006a68;
}

.overall-data_setting {
    width: 70%;
}

.custom-column {
    width: 60%;
    margin-left: 15%;
}

.main-heading h1 {
    font-size: 24px;
    font-family: 'Cerebri Sans';
    font-weight: 500;
    color: #3b4859;
}

::ng-deep .form-control {
    width: 100% !important;
    background: none;
    border: none;
    border-bottom: 1px solid #ececec;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    font-family: 'Cerebri Sans';
    font-weight: 500;
    letter-spacing: 0.43px;
    color: #c9c9c9;
    padding-left: 0px;
    display: inline;
    padding-left: 30px;
}

::ng-deeplabel {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #6d7278;
    font-family: 'Cerebri Sans';
}

.move-down {
    margin-top: 60px;
}


/* .my-custom-one {
margin-left: 20px;
} */

.top-down {
    margin-top: 10px;
}

p {
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.form-setting p {
    width: 48%;
    font-family: 'Cerebri Sans';
}

.margin-heading {
    margin-bottom: 30px;
    font-family: 'Cerebri Sans';
}

.form-setting h1 {
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
}

.overall-css {
    padding-bottom: 80px;
    margin-top: 50px;
}

.overall-button {
    text-align: center;
    margin-top: 35px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    font-family: 'Cerebri Sans';
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
}

.form-settings {
    display: flex;
    justify-content: space-between;
}

.profile_upload {
    width: 103px;
    height: 103px;
    border: solid 1px #e9edf4;
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
    padding-top: 39px;
}

.profile_image {
    font-size: 12px;
    text-align: center;
    color: #3b4859;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}


/* label {
  margin-top: 25px;
} */

.selections .form-control {
    background: #939393;
    font-family: 'Cerebri Sans';
    height: 40px;
    border-radius: 9px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    min-width: 146px;
    font-size: 12px;
}

.upload-description {
    min-height: 160px;
    border-radius: 6px;
    border: solid 1px #e9edf4;
    background-color: #fcfdfe;
    text-align: center;
    padding: 38px;
}

.upload-description h4 {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-family: 'Cerebri Sans';
    line-height: normal;
    letter-spacing: 0.57px;
    text-align: center;
    color: #3b4859;
}

.upload-description p {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'Cerebri Sans';
    letter-spacing: 0.43px;
    text-align: center;
    color: #acb6be;
}

.custom-file {
    position: relative;
    font-family: arial;
    overflow: hidden;
    margin-bottom: 10px;
    width: auto;
    display: inline-block;
    padding: 10px;
    font-family: 'Cerebri Sans';
}

.custom-file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Cerebri Sans';
    cursor: pointer;
    opacity: 0;
    z-index: 100;
}

.add_rep {
    margin-left: 20px;
}

.two_btns_main {
    display: flex;
    justify-content: space-between;
}

.top-profile {
    display: flex;
}

.top-profile p {
    opacity: 0.48;
    font-size: 12px;
    color: #3b4859;
    margin: 0px;
    font-family: 'Cerebri Sans';
    padding: 0px;
}

.top-profile h3 {
    font-size: 16px;
    color: #3b4859;
    margin: 0px;
    padding: 0px;
    font-family: 'Cerebri Sans';
    margin-top: -8px;
    font-weight: normal;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 15%;
    position: relative;
    width: 12%;
    padding-left: 17px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.border-bottom {
    border-top: 1px solid #e9edf4;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-set {
    margin-left: 0% !important;
}

.events-data img {
    display: inline !important;
    margin-top: 11px;
    margin-right: 2px;
    border-radius: 0px;
}

.top-profile {
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 24px;
    position: relative;
}

.top-profile p {
    opacity: 0.48;
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
    margin: 0px;
    padding: 0px;
}

.top-profile h3 {
    font-size: 16px;
    color: #3b4859;
    margin: 0px;
    font-family: 'Cerebri Sans';
    padding: 0px;
    margin-top: -8px;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 9%;
    position: relative;
    width: 12%;
}

.right_none {
    margin-right: 0px;
}

.custom-preview .form-control {
    background: #939393;
    height: 30px;
    border-radius: 9px;
    font-family: 'Cerebri Sans';
    color: #fff;
    padding: 0px 20px 0px 20px;
    min-width: 146px;
    font-size: 12px;
}

.custom-preview {
    position: absolute;
    right: 13%;
    font-family: 'Cerebri Sans';
    top: 11px;
}

.form-row {
    display: inherit;
}

.custom_doen {
    margin-top: 40px;
}

.ticket-table {
    border-radius: 10px;
    border: solid 1px #e9edf4;
    background-color: #fcfdfe;
    padding: 45px;
    padding-bottom: 30px;
    width: 100%;
    margin-top: 40px;
}

.ticket-table td {
    border: 1px solid #ececec;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-family: 'Cerebri Sans';
    line-height: 1.57;
    letter-spacing: normal;
    color: #6d7278;
    padding: 7px !important;
    text-align: center;
}

.ticket-table th {
    border: 1px solid #ececec;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-family: 'Cerebri Sans';
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 9px !important;
    background: #3b4859;
    text-align: center;
}

.ticket-table {
    display: flex;
    justify-content: space-between;
}

.table_logo {
    margin-left: 20px;
    margin-right: 20px;
}

.table_bar {
    margin-top: 27px;
}

.help_section .form-control {
    background: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
    font-family: 'Cerebri Sans';
    color: #6d7278;
    width: 35% !important;
    padding-top: 0px;
    padding-bottom: 0px;
    height: inherit !important;
    display: inline !important;
}

.help_section .form-group {
    margin: 0px;
}

.ticket-table .form-group img {
    position: absolute;
    left: 11px;
    top: 33px;
}

.ticket-table .form-group {
    position: relative;
}

.publishbtn a {
    border-radius: 9px;
    background-color: #006a68;
    padding: 6px 20px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: 'Cerebri Sans';
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.publishbtn {
    position: absolute;
    right: 23%;
    top: 28%;
}


/* overall-table-set */

.ticket-table th {
    border: none !important;
    font-family: 'Cerebri Sans';
}


/* overall-table-set */

@media screen and (min-width: 320px) and (max-width: 480px) {
    .move_round {
        margin-right: 0px;
    }
    .top_dowwwn {
        line-height: 29px;
    }
    .two_btn .overall-button a {
        width: 100%;
    }
    .top-profile {
        display: block;
    }
    .custom-preview {
        position: static;
        width: 69%;
        margin-top: 10px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 100%;
        position: relative;
        width: 100%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 23%;
    }
    /* ***** */
    .picker-one .shape-rectangle {
        width: 100%;
        max-width: 100%;
    }
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: block;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
    .add_rep a {
        padding: 12px 8px;
    }
    .inner-two-blocks {
        display: block;
    }
    .inner-one {
        width: 100%;
        position: relative;
    }
    .inner-two {
        width: 100%;
        margin-top: 30px
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .move_round {
        margin-right: 0px;
    }
    .add_rep a {
        padding: 12px 8px;
    }
    .top_dowwwn {
        line-height: 29px;
    }
    .top-profile {
        display: block;
    }
    .custom-preview {
        position: static;
        width: 69%;
        margin-top: 10px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 100%;
        position: relative;
        width: 100%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 23%;
    }
    /* ***** */
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 40%;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
    .inner-one {
        width: 100%;
        position: relative;
    }
    .inner-two {
        width: 100%;
        margin-top: 30px
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
    .move_round {
        margin-right: 0px;
    }
    .publishbtn {
        position: absolute;
        right: 23%;
        top: 158%;
    }
    .add_rep a {
        padding: 12px 8px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 29%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 23%;
    }
    /* ***** */
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
    .inner-one {
        width: 100%;
        position: relative;
    }
    .inner-two {
        width: 100%;
        margin-top: 30px
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .move_round {
        margin-right: 0px;
    }
    .publishbtn {
        position: absolute;
        right: 23%;
        top: 158%;
    }
    .add_rep a {
        padding: 12px 8px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 29%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 8%;
    }
    /* ***** */
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
        width: 100%;
    }
    .picker-one .shape-rectangle {
        width: 100%;
        max-width: inherit !important;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 48%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1780px) {
    .publishbtn {
        position: absolute;
        right: 23%;
        top: 158%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1930px) {
    .add_rep a {
        padding: 12px 8px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 29%;
    }
    .main-heading {
        width: 72%;
    }
    .top-row p {
        width: 80%;
    }
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
        width: 100%;
    }
    .picker-one .shape-rectangle {
        width: 100%;
        max-width: inherit !important;
    }
}