<!-- <nb-card>
   
    <nb-card-header>
      Tickets
      <button type="button" class="btn btn-primary" routerLink="/pages/addticket">Add Ticket</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arrtickets.tickets"
      (editConfirm)="updateticket($event)"
      (deleteConfirm)="deleteTicket($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card> -->




<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
              <option>Preview</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">

        <div class="top-row">
            <div class="main-heading">
                <h1>Ticketing</h1>


            </div>

            <div class="overall-button">
                <a href="#">Create Ticket</a>

            </div>
        </div>

        <div class="ticket-table">

            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Privacy</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>VIP Ticket</td>
                            <td>VIP Ticket</td>
                            <td>$99</td>
                            <td>@VIP Ticket</td>
                            <td>@VIP Ticket</td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>


    </div>
</div>