p {
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.custom-column {
    width: 50%;
    margin-left: 15%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.margin-heading {
    margin-bottom: 30px;
}

.form-setting h1 {
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
}

.overall-button {
    text-align: center;
    margin-top: 35px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    font-family: 'Cerebri Sans';
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.top-row p {
    width: 65%;
    font-family: 'Cerebri Sans';
}

.border_center {
    border-top: solid 1px #e9edf4;
}

.org-list-item h3 {
    font-size: 16px;
    font-weight: 500;
    color: #006a68;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Cerebri Sans';
}

.org-list-item p {
    font-size: 12px;
    font-weight: 500;
    color: #6d7278;
    margin-top: 0px;
    font-family: 'Cerebri Sans';
}

.events-data {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bottom-events-data {
    margin-top: 10px;
}

.margin-top {
    margin-top: -25px !important;
}

.draft {
    opacity: 0.6;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    color: #3b4859;
    font-family: 'Cerebri Sans';
    margin-top: -27px !important;
    margin-bottom: 0px !important;
}

.events-data img {
    display: inline !important;
    margin-top: 11px;
    margin-right: 2px;
    border-radius: 0px;
}

.top-profile {
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    border-top: solid 1px #dadada;
    border-left: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    padding-top: 0px;
    padding-bottom: 0px;
}

.top-profile {
    display: flex;
}

.top-profile p {
    opacity: 0.48;
    font-size: 12px;
    color: #3b4859;
    margin: 0px;
    font-family: 'Cerebri Sans';
    padding: 0px;
}

.top-profile h3 {
    font-size: 16px;
    color: #3b4859;
    margin: 0px;
    padding: 0px;
    font-family: 'Cerebri Sans';
    margin-top: -8px;
    font-weight: normal;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 15%;
    position: relative;
    width: 12%;
    padding-left: 17px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.border-bottom {
    border-top: 1px solid #e9edf4;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-set {
    margin-left: 0% !important;
}

.events-data img {
    display: inline !important;
    margin-top: 11px;
    margin-right: 2px;
    border-radius: 0px;
}

.top-profile {
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 24px;
    position: relative;
}

.top-profile p {
    opacity: 0.48;
    font-size: 12px;
    font-family: 'Cerebri Sans';
    color: #3b4859;
    margin: 0px;
    padding: 0px;
}

.top-profile h3 {
    font-size: 16px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
    margin: 0px;
    padding: 0px;
    margin-top: -8px;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 9%;
    position: relative;
    width: 12%;
}

.right_none {
    margin-right: 0px;
}

.custom-preview .form-control {
    background: #939393;
    height: 30px;
    border-radius: 9px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    font-family: 'Cerebri Sans';
    min-width: 146px;
    font-size: 12px;
}

.custom-preview {
    position: absolute;
    right: 13%;
    top: 11px;
}

.ticket-table {
    border-radius: 10px;
    border: solid 1px #e9edf4;
    background-color: #fcfdfe;
    padding: 45px;
    padding-bottom: 30px;
}

.ticket-table td {
    border: 1px solid #ececec;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-family: 'Cerebri Sans';
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #6d7278;
}

.ticket-table th {
    border: 1px solid #ececec;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Cerebri Sans';
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .top-profile {
        display: block;
    }
    .custom-preview {
        position: static;
        width: 69%;
        margin-top: 10px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 100%;
        position: relative;
        width: 100%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 23%;
    }
    /* ***** */
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: block;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .top-profile {
        display: block;
    }
    .custom-preview {
        position: static;
        width: 69%;
        margin-top: 10px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 100%;
        position: relative;
        width: 100%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 23%;
    }
    /* ***** */
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 40%;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 29%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 23%;
    }
    /* ***** */
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 29%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 8%;
    }
    /* ***** */
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
        width: 100%;
    }
    .picker-one .shape-rectangle {
        width: 100%;
        max-width: inherit !important;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 48%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1930px) {
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 29%;
    }
    .main-heading {
        width: 72%;
    }
    .top-row p {
        width: 80%;
    }
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
        width: 100%;
    }
    .picker-one .shape-rectangle {
        width: 100%;
        max-width: inherit !important;
    }
}