<!--
  ~ Copyright (c) Akveo 2019. All Rights Reserved.
  ~ Licensed under the Single Application / Multi Application License.
  ~ See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
  -->


<div class="container">
    <div class="row">
        <div class="col-lg-12">


            <!-- 
            <div class="header-container">
                   <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <a class="logo" href="#" (click)="navigateHome()"> Convene -<span>Account Manager Console</span></a>
    </div> 

            </div> -->

            <!--    <div class="header-container">
                <nb-actions size="small">

        <nb-action class="control-item">
            <nb-search type="rotate-layout"></nb-search>
        </nb-action>
        <nb-action class="control-item" icon="email-outline"></nb-action>
        <nb-action class="control-item" icon="bell-outline"></nb-action>
        <nb-action class="user-action">
            <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="userDisplayName" [picture]="user?.picture | ngxAuthToken | async">
            </nb-user>
        </nb-action>
    </nb-actions> -->


            <div class="header-elements">

                <div class="help_section">
                    <div class="form-group">

                        <select class="form-control" id="exampleFormControlSelect1">
              <option>Help</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
                    </div>

                </div>
                <div class="notification_section"><img src="../../assets/images/notif.svg" alt=""></div>
                <div class="user_area">
                    <span class="user-name">Clement Nkoko</span>
                    <span class="user-image"><img src="../../assets/images/user.jpg" alt=""></span>

                </div>




            </div>

        </div>
    </div>
</div>
<!-- </div> -->