/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Single Application / Multi Application License.
 * See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
 */

@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';
@include nb-install-component() {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .logo-container {
        display: flex;
        align-items: center;
        width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    }
    nb-action {
        height: auto;
        display: flex;
        align-content: center;
    }
    nb-user {
        cursor: pointer;
    }
     ::ng-deep nb-search button {
        padding: 0!important;
    }
    .header-container {
        display: flex;
        align-items: center;
        width: auto;
        .sidebar-toggle {
            @include nb-ltr(padding-right, 1.25rem);
            @include nb-rtl(padding-left, 1.25rem);
            text-decoration: none;
            color: nb-theme(text-hint-color);
            nb-icon {
                font-size: 1.75rem;
            }
        }
        .logo {
            padding: 0 1.25rem;
            font-size: 1.75rem;
            @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
            @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
            white-space: nowrap;
            text-decoration: none;
        }
    }
    @include media-breakpoint-down(sm) {
        .control-item {
            display: none;
        }
        .user-action {
            border: none;
            padding: 0;
        }
    }
    @include media-breakpoint-down(is) {
        nb-select {
            display: none;
        }
    }
}

.header-elements {
    display: flex;
    justify-content: flex-end;
}

.user-name {
    font-size: 14px;
    color: #6d7278;
}

.user-image img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.notification_section {
    padding-left: 85px;
    padding-right: 65px;
    margin-top: 20px;
}

.user-name {
    padding-right: 11px;
    font-size: 14px;
    color: #6d7278;
}

.user_area {
    margin-top: 12px;
}

.help_section .form-control {
    background: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
    color: #6d7278;
    width: 100% !important;
}

.help_section {
    margin-top: 14px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .notification_section {
        padding-left: 32px;
        padding-right: 35px;
        margin-top: 20px;
    }
    .user-name {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .notification_section {
        padding-left: 32px;
        padding-right: 35px;
        margin-top: 20px;
    }
    .user-name {
        display: none;
    }
}