<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>
    <div class="publishbtn"><a href="#">Publish Event</a></div>
    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
      <option>Preview</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>View Attendees</h1>



            </div>

            <div class="overall-button move_round">
                <a href="#">Bulk Import</a>

            </div>
            <div class="overall-button">
                <a href="#">Add Attendees</a>

            </div>
        </div>

        <div class="form-row ">

            <div class="ticket-table">



                <div class="form-group col-md-12">
                    <label for="inputPassword4" class="my-custom-one">Search for Sponsors</label>
                    <input type="text" class="form-control my-custom-one" id="inputPassword4" placeholder="Search for Sponsors">
                    <img src="assets/images/search-icon.png" alt="">
                </div>

            </div>
        </div>


        <div class="table-responsive">
            <div class="ticket-table">

                <div class="table_bar"><img src="assets/images/nav-bar.png" alt=""></div>

                <div class="table_logo"><img src="assets/images/expo-logo.png" alt=""></div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>

                            <th class="text-right" scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FNB</td>

                            <td class="text-right"><img src="assets/images/action.svg"></td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <div class="table-responsive">
            <div class="ticket-table">

                <div class="table_bar"><img src="assets/images/nav-bar.png" alt=""></div>

                <div class="table_logo"><img src="assets/images/expo-logo.png" alt=""></div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>

                            <th class="text-right" scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FNB</td>

                            <td class="text-right"><img src="assets/images/action.svg"></td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <div class="table-responsive">
            <div class="ticket-table">

                <div class="table_bar"><img src="assets/images/nav-bar.png" alt=""></div>

                <div class="table_logo"><img src="assets/images/expo-logo.png" alt=""></div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>

                            <th class="text-right" scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FNB</td>

                            <td class="text-right"><img src="assets/images/action.svg"></td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>







    </div>

</div>