<!-- <h1>New Ticket</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="ticketForm" (ngSubmit)="addticket()">
   
    <div class="form-group"> 
      <label for="ticket_name">Ticket Name:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="ticket_name"
      formControlName="ticket_name"
       class="form-control" required >
    </div>
    <div class="form-group">
      <label for="ticket_type">Ticket Type:</label>
      <nb-select selected="free" id="ticket_type"
      formControlName="ticket_type" fieldSize="large" >
        <nb-option value="free">Free</nb-option>
        <nb-option value="paid">Paid</nb-option>
      </nb-select>
    </div>
     <div class="form-group">
      <label for="ticket_price">Price:</label>
      <input type="number" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="ticket_price"
      formControlName="ticket_price">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
	  <textarea class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="description"
      formControlName="description" rows="10" cols="30"></textarea>
    </div>
  <div class="form-group">
      <label for="ticket_count">Number of Tickets:</label>
      <input type="number" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="ticket_count"
      formControlName="ticket_count">
    </div>
	<div class="form-group">
      <label for="hide_ticket">Hide the Ticket:</label>
      <input type="checkbox" fullWidth
      fieldSize="large"
      id="hide_ticket"
      formControlName="hide_ticket">
    
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
 -->


<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
            <option>Preview</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>






<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>Landing Page</h1>


            </div>

            <div class="overall-button">
                <a href="#">Publish Event</a>

            </div>
        </div>


        <div class="landing-ticket">
            <div class="editor-section">Blank now</div>
            <div class="write_area">
                <div class="form-group">

                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type something" rows="3"></textarea>
                </div>
            </div>

        </div>

        <div class="event-detail">

            <div class="org-list-item">
                <img src="assets/images/event-detail.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>

                    </div>
                </div>
            </div>


        </div>








    </div>
</div>