<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
        <option>Preview</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>Sessions and Stage</h1>



            </div>

            <div class="overall-button">
                <a href="#">Add Speakers</a>

            </div>
        </div>





        <div class="form-row custom_doen">

            <div class="form-group col-md-6">
                <label for="inputPassword4" class="my-custom-one">Title</label>
                <input type="text" class="form-control my-custom-one" id="inputPassword4" placeholder="Title">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="my-custom-one">Type</label>
                <input type="text" class="form-control my-custom-one" id="inputPassword4" placeholder="Type">
            </div>

        </div>

        <div class="datepicker-select">

            <div class="left-blocks-data">
                <h3> Start</h3>
                <div class="left-selection">
                    <div class="picker-one">



                        <input _ngcontent-bwj-c348="" nbinput="" placeholder="Event Start" class="size-medium status-basic shape-rectangle nb-transition">
                        <!--   <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                        <div class="icons"><img src="assets/images/date-pick.svg" alt=""> </div>

                    </div>

                    <div class="picker-one">
                        <input _ngcontent-bwj-c348="" nbinput="" placeholder="Time" class="size-medium status-basic shape-rectangle nb-transition">
                        <!--  <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                        <div class="icons"><img src="assets/images/time-pick.svg" alt=""> </div>
                    </div>
                </div>
            </div>
            <div class="left-blocks-data margin-left-set">
                <h3> End</h3>
                <div class="left-selection">
                    <div class="picker-one">
                        <input _ngcontent-bwj-c348="" nbinput="" placeholder="Event End" class="size-medium status-basic shape-rectangle nb-transition">
                        <!--  <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                        <div class="icons"><img src="assets/images/date-pick.svg" alt=""> </div>
                    </div>
                    <div class="picker-one">
                        <input _ngcontent-bwj-c348="" nbinput="" placeholder="Time" class="size-medium status-basic shape-rectangle nb-transition">
                        <!--  <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                        <div class="icons"><img src="assets/images/time-pick.svg" alt=""> </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="ticket-table">

            <div class="inner-two-blocks">

                <div class="inner-one">

                    <label for="inputPassword4" class="my-custom-one">Search</label>
                    <input type="text" class="form-control my-custom-one my_two" id="inputPassword4" placeholder="Search for existing speakers">
                    <img src="assets/images/search-icon.png" alt="">

                </div>
                <div class="inner-two">

                    <div class="upload-description">
                        <h4>Speakers</h4>
                        <p>Add New Speakers</p>
                        <img src="assets/images/upload.svg" alt="">
                        <input type="file" class="custom-file-input" id="file" multiple onchange="javascript:updateList()">

                    </div>
                </div>

            </div>



        </div>










    </div>

</div>