<!-- <h1>New Exhibitor</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="expoForm" (ngSubmit)="addexpo()">
   
    <div class="form-group"> 
      <label for="exibit_name">Exhibitor Name:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="exibit_name"
      formControlName="exibit_name"
       class="form-control" required >
    </div>
	 <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="email"
      formControlName="email">
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="title"
      formControlName="title">
    </div>
	<div class="form-group">
	 <label for="description">Description:</label>
	  <textarea class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="description"
      formControlName="description" rows="10" cols="30"></textarea>
    </div>
     <div class="form-group">
      <label for="stream_provider">Stream Provider:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="stream_provider"
      formControlName="stream_provider">
    </div>
   
  <div class="form-group">
      <label for="booth_size">Booth Size:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="booth_size"
      formControlName="booth_size">
    </div>
	<div class="form-group">
      <label for="expo_banner">Expo Banner:</label>
      <input type="file" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="expo_banner"
      formControlName="expo_banner">
    </div>
	<div class="form-group">
      <label for="expo_logo">Expo Logo:</label>
      <input type="file" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="expo_logo"
      formControlName="expo_logo">
    </div>
	<div class="form-group">
      <label for="promo_video_url">Promo Video URL:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="promo_video_url"
      formControlName="promo_video_url">
    </div>
	<div class="form-group">
      <label for="linkdin">Linkdin:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="linkdin" 
      formControlName="linkdin">
    </div>
	<div class="form-group">
      <label for="twitter">Twitter:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="twitter"
      formControlName="twitter">
    </div>
	<div class="form-group">
      <label for="facebook">Facebook:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="facebook"
      formControlName="facebook">
    </div>
	<div class="form-group">
      <label for="clientid">Exhibition Representatives:</label>
     <button type="button" class="btn btn-primary" routerLink="/pages/addrepresentatives">Add a Representatives</button>
    </div>
    <button type="submit" class="btn btn-primary">Add this Exhibitor</button>
  </form> 
  </div> 
  </div>
 -->
<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
          <option>Preview</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>Expo</h1>



            </div>

            <div class="overall-button">
                <a href="#">Add Exhibitor</a>

            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmail4">Exhibitor Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Clement">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="my-custom-one">E-mail</label>
                <input type="text" class="form-control my-custom-one" id="inputPassword4" placeholder="clement@altivex.studio">
            </div>

        </div>
        <div class="form-row top-down">
            <div class="form-group col-md-12">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="About"></textarea>
            </div>

        </div>


        <div class="form-row ">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Stream Providers</label>
                <div class="selections">



                    <div class="form-group">

                        <select class="form-control" id="exampleFormControlSelect1">
                    <option>Convene</option>
                    <option>Convene</option>
                    <option>Convene</option>
                    <option>Convene</option>
                    <option>Convene</option>
                  </select>
                    </div>





                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Booth Size</label>
                <div class="selections">



                    <div class="form-group">

                        <select class="form-control" id="exampleFormControlSelect1">
                    <option>Small</option>
                    <option>Convene</option>
                    <option>Convene</option>
                    <option>Convene</option>
                    <option>Convene</option>
                  </select>
                    </div>





                </div>
            </div>

        </div>

        <div class="form-row top-down">
            <div class="form-group col-md-6">
                <div class="upload-description">
                    <h4>Expo Banner</h4>
                    <p>Click here to upload the main image for your booth</p>
                    <img src="assets/images/upload.svg" alt="">
                    <input type="file" class="custom-file-input" id="file" multiple onchange="javascript:updateList()">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="upload-description">
                    <h4>Expo Banner</h4>
                    <p>Click here to upload the main image for your booth</p>
                    <img src="assets/images/upload.svg" alt="">
                    <input type="file" class="custom-file-input" id="file" multiple onchange="javascript:updateList()">
                </div>
            </div>
        </div>


        <div class="form-row ">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Promo Video URL</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Youtube link only">
            </div>

        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Linkedin</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="my-custom-one">Twitter</label>
                <input type="password" class="form-control my-custom-one" id="inputPassword4" placeholder="">
            </div>
        </div>

        <div class="form-row top-down">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Facebook</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="my-custom-one">Add Representatives <span class="overall-button add_rep"><a href="#">Add a representative</a></span></label>
                <input type="password" class="form-control my-custom-one" id="inputPassword4" placeholder="">
            </div>
        </div>


        <div class="two_btns_main">
            <div class="overall-button">
                <a href="#">Cancel</a>

            </div>

            <div class="overall-button">
                <a href="#">Add Exhibitor</a>

            </div>


        </div>

    </div>
</div>