<h1>New Stage</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="stageForm" (ngSubmit)="addstage()">
   
	<div class="form-group"> 
      <label for="stream_provider">Stream Provider:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="stream_provider"
      formControlName="stream_provider"
       class="form-control" >
    </div>
	
	<div class="form-group"> 
      <label for="stream_key">Stream Key:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="stream_key"
      formControlName="stream_key"
       class="form-control" required >
    </div>
	<div class="form-group"> 
      <label for="RTMP_url">RTMP url:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="RTMP_url"
      formControlName="RTMP_url"
       class="form-control" required >
    </div>
	<div class="form-group"> 
      <label for="segment_backstage_link">Segment Backstage Link:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="segment_backstage_link"
      formControlName="segment_backstage_link"
       class="form-control" required >
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
