<!-- <nb-card>
   
    <nb-card-header>
      Sessions
      <button type="button" class="btn btn-primary" routerLink="/pages/addsession">Add Session</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arrsessions.sessions"
      (editConfirm)="updatesession($event)"
      (deleteConfirm)="deletesession($event)"
      >
      </ng2-smart-table> 
    </nb-card-body>
  </nb-card> -->



<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
          <option>Preview</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>






<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>Sessions</h1>



            </div>

            <div class="overall-button">
                <a href="#">Publish Event</a>

            </div>
        </div>

        <div class="overall-data_setting">
            <div class="data-set">


                <div class="announcement">
                    <span class="ann-geading">Enable attendees creating own sessions</span> <span class="toggle_btn"><label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
                    </label>
                    </span>

                </div>


            </div>
            <div class="bottom-row">


                <div class="overall-button float-right margin-dn">
                    <a href="#">Save</a>

                </div>

            </div>
        </div>




    </div>
</div>