/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Single Application / Multi Application License.
 * See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
 */

@import '~@nebular/theme/styles/core/mixins';
@import '../../../@theme/styles/themes';
@include nb-install-component() {
    button[nbButton] {
        margin: 0.25rem;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    input {
        width: 20rem;
    }
     :host {
        button {
            @include nb-ltr(margin, 0 0.75rem 0 0);
            @include nb-rtl(margin, 0 0 0 0.75rem);
        }
    }
}

.custom-column {
    width: 70%;
    margin-left: 15%;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

::ng-deep .form-control {
    width: 96% !important;
    background: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.43px;
    color: #c9c9c9;
    padding-left: 0px;
    font-family: 'Cerebri Sans';
}

::ng-deeplabel {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #6d7278;
    font-family: 'Cerebri Sans';
}

.move-down {
    margin-top: 60px;
}


/* .my-custom-one {
margin-left: 20px;
} */

.top-down {
    margin-top: 10px;
}

p {
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.form-setting p {
    width: 48%;
    font-family: 'Cerebri Sans';
}

.margin-heading {
    margin-bottom: 30px;
}

.form-setting h1 {
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
}

.overall-css {
    padding-bottom: 80px;
    margin-top: 50px;
}

.overall-button {
    text-align: center;
    margin-top: 90px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    font-family: 'Cerebri Sans';
}

.form-settings {
    display: flex;
    justify-content: space-between;
}

.profile_upload {
    width: 103px;
    height: 103px;
    border: solid 1px #e9edf4;
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
    padding-top: 39px;
}

.profile_image {
    font-size: 12px;
    text-align: center;
    color: #3b4859;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c9c9c9;
    opacity: 1;
    font-family: 'Cerebri Sans';
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
    }
}