<h2>All Attendees</h2>

<table>
  <tr>
    <th>Actions</th> 
    <th>Attendee Name</th>
    <th>Attendee email</th>
    <th>Ticket</th>
    <th>Delete Status</th>
  </tr>
  <tr *ngFor='let arr of arrattendees.Attendees'>
      <td>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="nb-edit"></i>
        <i class="fa fa-trash" aria-hidden="true" (click)="deleteattendee(arr.id)"></i>
    </td>
    <td>{{arr.attendee_name}}</td>
    <td>{{arr.attendee_email}}</td>
    <td>{{arr.assign_ticket}}</td>
    <td>{{arr.deleted_at}}</td>
  </tr>
</table>
