<!-- <h2>All Speakers</h2>

<table>
  <tr>
    <th>Actions</th> 
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Title</th>
    <th>Profile</th>
    <th>Delete Status</th>
  </tr>
  <tr *ngFor='let arr of arrspeakers.Speakers'>
      <td>
        <a href="pages/addspeakers"> <i class="fa fa-plus" aria-hidden="true"></i></a>
        <a href="pages/updatespeakers/{{arr.id}}"> <i class="nb-edit"></i></a>
        <i class="fa fa-trash" aria-hidden="true" (click)="deletespeaker(arr.id)"></i>
    </td>
    <td>{{arr.first_name}}</td>
    <td>{{arr.last_name}}</td>
    <td>{{arr.email}}</td>
    <td>{{arr.title}}</td>
    <td><img class='table-thumbnail-img' width="50px" height="50px" src="http://13.244.115.67/server/public/images/{{arr.profile_image}}"></td>
    <td>{{arr.deleted_at}}</td>
  </tr>
</table>
 -->



<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
        <option>Preview</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>Speakers</h1>



            </div>

            <div class="overall-button">
                <a href="#">Add Speakers</a>

            </div>
        </div>





        <div class="form-row custom_doen">

            <div class="form-group col-md-12">
                <label for="inputPassword4" class="my-custom-one">Search for Speakers</label>
                <input type="text" class="form-control my-custom-one" id="inputPassword4" placeholder="Search for Exhibitors">
            </div>

        </div>




        <div class="ticket-table">

            <div class="table_bar"><img src="assets/images/nav-bar.png" alt=""></div>

            <div class="table_logo"><img src="assets/images/expo-logo.png" alt=""></div>

            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Booth Size</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Artivist</td>
                            <td>
                                <div class="help_section">
                                    <div class="form-group">

                                        <select class="form-control" id="exampleFormControlSelect1">
                        <option>Session 1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                                    </div>

                                </div>
                            </td>
                            <td><img src="assets/images/action.svg"></td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>






    </div>

</div>