<div class="clr-row">
    <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
  <form (ngSubmit)="updatespeaker()">
      <div class="form-group"> 
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" required name="first_name" value="{{speaker.first_name}}">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" required name="last_name" [(ngModel)]="speaker.last_name">
      </div>
       <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" required name="email" [(ngModel)]="speaker.email">
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" required name="title" [(ngModel)]="speaker.title">
      </div>
	  <div class="form-group">
        <label for="profile_image">Profile Image:</label>
        <input type="file" class="form-control" 
      id="profile_image" (change)="imageupload($event)">
        <img width="50px" height="50px" src="http://13.244.115.67/server/public/images/{{speaker.profile_image}}">
    </div>
	  <div class="form-group">
        <label for="company">Company:</label>
        <input type="text" class="form-control" required name="company" [(ngModel)]="speaker.company">
      </div> 
	  
	  <div class="form-group">
        <label for="biography">Biography:</label>
        <input type="text" class="form-control" required name="biography" [(ngModel)]="speaker.biography">
      </div>
	  <div class="form-group">
        <label for="linkdin">Linkdin:</label>
        <input type="text" class="form-control" required name="linkdin" [(ngModel)]="speaker.linkdin">
      </div>
	  <div class="form-group">
        <label for="twitter">Twitter:</label>
        <input type="text" class="form-control" required name="twitter" [(ngModel)]="speaker.twitter">
      </div>
	  <div class="form-group">
        <label for="facebook">Facebook:</label>
        <input type="text" class="form-control" required name="facebook" [(ngModel)]="speaker.facebook">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>
    </div>