<!-- <h1>New Event</h1>

<div class="clr-row">
    <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
  <form (ngSubmit)="addevent()">
      <div class="form-group"> 
        <label for="title">Event Name:</label>
        <input type="text" class="form-control" required name="title">
      </div>
      <div class="form-group">
        <label for="start_date">Start Date:</label>
        <input type="text" class="form-control" required name="start_date">
      </div>
	  <div class="form-group">
        <label for="end_date">End Date:</label>
        <input type="text" class="form-control" required name="end_date">
      </div>
       <div class="form-group">
        <label for="email_id">Email:</label>
        <input type="email_id" class="form-control" required name="email_id">
      </div>
      
	  <div class="form-group">
        <label for="photo">Photo:</label>
        <input type="file" class="form-control" required name="photo">
      </div>
	  <div class="form-group">
        <label>What would you like the event to have?</label>
		 <input type="checkbox" name="stage" value="1" id="stage">
		<label for="stage">Stage </label>
		 <input type="checkbox" name="sessions" value="1" id="sessions">
		<label for="sessions">Sessions</label>
		<input type="checkbox" name="networking" value="1" id="networking">
		<label for="networking">Networking</label>
		  <input type="checkbox" name="expo" value="1" id="expo">
		<label for="expo">Expo</label>
        
      </div> 
	  
      <button type="submit" class="btn btn-primary">Add Event</button>
    </form>
    </div>
    </div> -->


<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
</div>

<div class="profil-form overall-css">



    <div class="custom-column">

        <div class="top-row">
            <div class="main-heading">
                <h1>New Event</h1>
                <p>Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush</p>

            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Event Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Event Name">
            </div>

        </div>


        <div class="border-bottom"></div>

        <div class="form-date-time">

            <div class="form-row">
                <div class="form-group col-md-12">

                    <div class="datepicker-select">

                        <div class="left-blocks-data">
                            <h3> Start</h3>
                            <div class="left-selection">
                                <div class="picker-one">



                                    <input _ngcontent-bwj-c348="" nbinput="" placeholder="Event Start" class="size-medium status-basic shape-rectangle nb-transition">
                                    <!--   <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                                    <div class="icons"><img src="assets/images/date-pick.svg" alt=""> </div>

                                </div>

                                <div class="picker-one">
                                    <input _ngcontent-bwj-c348="" nbinput="" placeholder="Time" class="size-medium status-basic shape-rectangle nb-transition">
                                    <!--  <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                                    <div class="icons"><img src="assets/images/time-pick.svg" alt=""> </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-blocks-data margin-left-set">
                            <h3> End</h3>
                            <div class="left-selection">
                                <div class="picker-one">
                                    <input _ngcontent-bwj-c348="" nbinput="" placeholder="Event End" class="size-medium status-basic shape-rectangle nb-transition">
                                    <!--  <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                                    <div class="icons"><img src="assets/images/date-pick.svg" alt=""> </div>
                                </div>
                                <div class="picker-one">
                                    <input _ngcontent-bwj-c348="" nbinput="" placeholder="Time" class="size-medium status-basic shape-rectangle nb-transition">
                                    <!--  <nb-datepicker _ngcontent-bwj-c348=""></nb-datepicker> -->
                                    <div class="icons"><img src="assets/images/time-pick.svg" alt=""> </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="form-row top-down add-org add-event-new">
                        <div class="form-group col-md-12">

                            <div class="form-group">
                                <input type="checkbox" id="html">
                                <label for="html" class="checkbox-text">I agree to the organiser terms & conditions and confirm that I am authorised to agree to the Organiser Terms & conditions on behalf of my organisation</label>
                            </div>

                        </div>

                    </div>

                    <div class="overall-button text-right">
                        <a href="#">Create event</a>

                    </div>

                </div>
            </div>

        </div>


    </div>
</div>