p {
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.custom-column {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 100px;
    padding-top: 20px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.margin-heading {
    margin-bottom: 30px;
    font-family: 'Cerebri Sans';
}

.form-setting h1 {
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
}

.overall-button {
    text-align: center;
    margin-top: 35px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    font-family: 'Cerebri Sans';
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.top-row p {
    width: 53%;
    font-family: 'Cerebri Sans';
}

.org-list-item {
    border-radius: 10px;
    border: solid 1px #e5e5e5;
    justify-content: flex-start;
    background: #fff;
    width: 48%;
    min-height: 350px;
    flex-flow: row wrap;
    font-family: 'Cerebri Sans';
    cursor: pointer;
    margin-top: 30px;
}

.org-list-loop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 100px;
}

.org-list-item img {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.border_center {
    border-top: solid 1px #e9edf4;
}

.org-list-item h3 {
    font-size: 16px;
    font-weight: 500;
    color: #006a68;
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
    margin-top: 0px;
}

.org-list-item p {
    font-size: 12px;
    font-weight: 500;
    color: #6d7278;
    font-family: 'Cerebri Sans';
    margin-top: 0px;
}

.events-data {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bottom-events-data {
    margin-top: 10px;
}

.margin-top {
    margin-top: -25px !important;
}

.draft {
    opacity: 0.6;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    color: #3b4859;
    margin-top: -27px !important;
    margin-bottom: 0px !important;
    font-family: 'Cerebri Sans';
}

.events-data img {
    display: inline !important;
    margin-top: 11px;
    margin-right: 2px;
    border-radius: 0px;
}

.top-profile {
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    border-top: solid 1px #dadada;
    border-left: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 24px;
}

.top-profile p {
    opacity: 0.48;
    font-size: 12px;
    color: #3b4859;
    margin: 0px;
    font-family: 'Cerebri Sans';
    padding: 0px;
}

.top-profile h3 {
    font-size: 16px;
    color: #3b4859;
    margin: 0px;
    padding: 0px;
    margin-top: -8px;
    font-family: 'Cerebri Sans';
    font-weight: normal;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 9%;
    position: relative;
    width: 12%;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

::ng-deep .form-control {
    width: 96% !important;
    background: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Cerebri Sans';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.43px;
    color: #c9c9c9;
    padding-left: 0px;
}

::ng-deeplabel {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #6d7278;
    font-family: 'Cerebri Sans';
}

.border-bottom {
    border-top: 1px solid #e9edf4;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* form-data */

.datepicker-select {
    display: flex;
}

.left-blocks-data h3 {
    font-size: 16px;
    letter-spacing: 0.57px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.left-selection {
    display: flex;
}

.left-blocks-data {
    width: 50%;
}

.picker-one .shape-rectangle {
    height: 48px;
    border-radius: 6px;
    border: solid 1px #e9edf4;
    background-color: #fcfdfe;
    width: 280px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #acb6be;
    font-family: 'Cerebri Sans';
    padding-right: 50px;
}

.picker-one {
    margin-right: 12px;
}

.margin-left-set {
    margin-left: 17px;
}

.add-org .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    font-family: 'Cerebri Sans';
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.add-org .form-group label {
    position: relative;
    cursor: pointer;
    font-family: 'Cerebri Sans';
}

.add-org .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: solid 1px #006a68;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 11px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
}

.add-org .form-group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid 1px #006a68;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.checkbox-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #6d7278;
    font-family: 'Cerebri Sans';
}

.add-event-new {
    margin-top: 30px
}

.picker-one {
    position: relative;
}

.icons {
    position: absolute;
    top: 12px;
    right: 18px;
}


/* form-data */


/* form-data */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c9c9c9;
    opacity: 1;
    font-family: 'Cerebri Sans';
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: block;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 40%;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 40%;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
        width: 100%;
    }
    .picker-one .shape-rectangle {
        width: 100%;
        max-width: inherit !important;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 48%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1930px) {
    .main-heading {
        width: 72%;
    }
    .top-row p {
        width: 80%;
    }
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
        width: 100%;
    }
    .picker-one .shape-rectangle {
        width: 100%;
        max-width: inherit !important;
    }
}