<!-- <h1>New Organization</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="orgForm" (ngSubmit)="addorg()">
   
    <div class="form-group"> 
      <label for="title">Organization Name:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="title"
      formControlName="title"
       class="form-control" required >
    </div>
    <div class="form-group">
      <label for="contact_person">Contact Person:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="contact_person"
      formControlName="contact_person">
    </div>
     <div class="form-group">
      <label for="contact_number">Contact Number:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="contact_number"
      formControlName="contact_number">
    </div>
    <div class="form-group">
      <label for="email_id">Contact Email:</label>
      <input type="email" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="email_id"
      formControlName="email_id">
    </div>
  <div class="form-group">
      <label for="clientid">Account Owner:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="clientid"
      formControlName="clientid">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
 -->




<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="form-settings">
            <div class="main-heading margin-heading form-setting">
                <h1>New Organisation</h1>
                <p>Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush</p>
            </div>

            <div class="profile_upload"><span class="profile_image">Change Avatar</span></div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Organisation Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="info">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="my-custom-one">Organisation E-mail</label>
                <input type="password" class="form-control my-custom-one" id="inputPassword4" placeholder="info">
            </div>
        </div>





        <div class="form-row top-down">
            <div class="form-group col-md-12">
                <label for="exampleFormControlTextarea1">About the Organisation</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Info"></textarea>
            </div>

        </div>


        <div class="form-row top-down add-org">
            <div class="form-group col-md-12">

                <div class="form-group">
                    <input type="checkbox" id="html">
                    <label for="html" class="checkbox-text">I agree to the organiser terms & conditions and confirm that I am authorised to agree to the Organiser Terms & conditions on behalf of my organisation</label>
                </div>

            </div>

        </div>

        <div class="overall-button">
            <a href="#">Add Organisation</a>

        </div>


    </div>
</div>