.custom-column {
    width: 70%;
    margin-left: 15%;
    padding-top: 60px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

 ::ng-deep .form-control {
    width: 96% !important;
    background: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.43px;
    color: #c9c9c9;
    padding-left: 0px;
    font-family: 'Cerebri Sans';
}

 ::ng-deeplabel {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #6d7278;
    font-family: 'Cerebri Sans';
}

.move-down {
    margin-top: 60px;
}


/* .my-custom-one {
margin-left: 20px;
} */

.top-down {
    margin-top: 10px;
}

p {
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.form-setting p {
    width: 53%;
    font-family: 'Cerebri Sans';
}

.margin-heading {
    margin-bottom: 30px;
    font-family: 'Cerebri Sans';
}

.form-setting h1 {
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
}

.overall-css {
    padding-bottom: 80px
}

.overall-button {
    text-align: right;
    margin-top: 10px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    font-family: 'Cerebri Sans';
}

.form-settings {
    display: flex;
    justify-content: space-between;
}

.profile_upload {
    width: 103px;
    height: 103px;
    border: solid 1px #e9edf4;
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
    padding-top: 39px;
}

.profile_image {
    font-size: 12px;
    text-align: center;
    color: #3b4859;
}

.add-org .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    font-family: 'Cerebri Sans';
}

.add-org .form-group label {
    position: relative;
    cursor: pointer;
    font-family: 'Cerebri Sans';
}

.add-org .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: solid 1px #3b7cff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 14px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
}

.add-org .form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 12px;
    width: 6px;
    height: 14px;
    border: solid 1px #3b7cff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.checkbox-text {
    font-size: 12px;
    color: #acb6be;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c9c9c9;
    opacity: 1;
    font-family: 'Cerebri Sans';
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    .margin-heading {
        width: 73%;
    }
    .profile_upload {
        margin-top: 41px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    .margin-heading {
        width: 73%;
    }
    .profile_upload {
        margin-top: 41px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1650px) {
    .margin-heading {
        width: 80%;
    }
    .form-setting p {
        width: 87%;
        font-family: 'Cerebri Sans';
    }
}