p {
    font-size: 12px;
    color: #3b4859;
    font-weight: normal;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.custom-column {
    width: 95%;
    margin-left: 5%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.margin-heading {
    margin-bottom: 30px;
}

.form-setting h1 {
    margin-bottom: 0px;
}

.overall-button {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    font-family: 'Cerebri Sans';
}

.org-list-item {
    border-radius: 10px;
    border: solid 1px #e5e5e5;
    justify-content: flex-start;
    background: #fff;
    width: 32%;
    min-height: 350px;
    flex-flow: row wrap;
    cursor: pointer;
    margin-top: 30px;
}

.main-heading {
    margin-bottom: -25px;
}

.org-list-loop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 100px;
}

.org-list-item img {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.border_center {
    border-top: solid 1px #e9edf4;
}

.org-list-item h3 {
    font-size: 16px;
    font-weight: 500;
    color: #006a68;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Cerebri Sans';
}

.org-list-item p {
    font-size: 12px;
    font-weight: 500;
    color: #6d7278;
    margin-top: 0px;
    font-family: 'Cerebri Sans';
}

.events-data {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bottom-events-data {
    margin-top: 10px;
}

.margin-top {
    margin-top: -25px !important;
}

.events-data img {
    display: inline !important;
    margin-top: 11px;
    margin-right: 2px;
    border-radius: 0px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .custom-column {
        padding-top: 10px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 0px;
    }
    .org-list-item {
        min-height: 300px;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .custom-column {
        padding-top: 10px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 0px;
    }
    .org-list-item {
        min-height: 300px;
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
    .custom-column {
        padding-top: 10px;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .org-list-item {
        width: 46%;
        margin: 2%;
    }
    .org-list-loop {
        margin-right: 0px;
    }
    .org-list-item {
        min-height: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .custom-column {
        padding-top: 10px;
        width: 96%;
        /* padding-left: 5%; */
        padding-right: 5%;
    }
    .org-list-item {
        width: 46%;
        margin: 2%;
    }
    .org-list-loop {
        margin-right: 0px;
    }
    .org-list-item {
        min-height: 300px;
    }
}

@media screen and (min-width: 1025px) and (max-width:1199px) {
    .custom-column {
        padding-top: 10px;
        width: 96%;
        /* padding-left: 5%; */
        padding-right: 5%;
    }
    .org-list-item {
        width: 46%;
        margin: 2%;
        margin-left: 0%;
    }
    .org-list-loop {
        margin-right: 0px;
    }
    .org-list-item {
        min-height: 300px;
    }
}