<!--
  ~ Copyright (c) Akveo 2019. All Rights Reserved.
  ~ Licensed under the Single Application / Multi Application License.
  ~ See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
  -->

<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
 -->





<div class="profil-form overall-css">



    <div class="custom-column">

        <div class="top-row">
            <div class="main-heading">
                <h1>Hello Clement,</h1>


            </div>


        </div>




        <div class="org-list-loop">


            <div class="org-list-item">
                <img src="assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>

                    </div>
                </div>
            </div>


            <div class="org-list-item">
                <img src="assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>

                    </div>
                </div>


            </div>


            <div class="org-list-item">
                <img src="assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>

                    </div>
                </div>


            </div>



            <div class="org-list-item">
                <img src="../../assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>

                    </div>
                </div>


            </div>


            <div class="org-list-item">
                <img src="assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>

                    </div>
                </div>


            </div>


            <div class="org-list-item">
                <img src="assets/images/event-1.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>

                    </div>
                </div>


            </div>
            <div class="overall-button">
                <a href="#">Load More</a>

            </div>



        </div>













    </div>
</div>