@import '../../@theme/styles/themes';
@include nb-install-component() {
    .show-grid {
        .row {
            margin: -0.5rem;
        }
        div[class^=col-] {
            padding: 0.5rem;
            box-sizing: border-box;
            div {
                text-align: center;
                background-color: nb-theme(background-basic-color-2);
                padding: 0.75rem 0.25rem;
                border-radius: 0.25rem;
            }
        }
    }
    .grid-h {
        margin-top: 1.5rem;
        &:first-child {
            margin-top: 0;
        }
    }
    .table-responsive {
        margin-top: 1rem;
    }
}

p {
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.custom-column {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.margin-heading {
    margin-bottom: 30px;
    font-family: 'Cerebri Sans';
}

.form-setting h1 {
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
}

.overall-button {
    text-align: center;
    margin-top: 90px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    font-family: 'Cerebri Sans';
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.top-row p {
    width: 53%;
    font-family: 'Cerebri Sans';
}

.org-list-item {
    border-radius: 10px;
    border: solid 1px #e5e5e5;
    justify-content: flex-start;
    background: #fff;
    width: 43%;
    min-height: 350px;
    flex-flow: row wrap;
    cursor: pointer;
    padding: 20px;
    margin-top: 30px;
}

.org-list-loop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 100px;
}

.org-list-item img {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 38px;
    margin-bottom: 38px;
}

.border_center {
    border: solid 1px #e9edf4;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    /* common-css */
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 10px;
    }
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
    }
    /* common-css */
    .org-list-loop {
        margin-right: 0px;
    }
    .org-list-item {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    /* common-css */
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 10px;
    }
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
    }
    /* common-css */
    .org-list-loop {
        margin-right: 0px;
    }
    .org-list-item {
        width: 100%;
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
    /* common-css */
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 10px;
    }
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
    }
    /* common-css */
    .org-list-loop {
        margin-right: 0px;
        margin-top: 30px;
    }
    .org-list-item {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* common-css */
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 10px;
    }
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
    }
    /* common-css */
    .org-list-loop {
        margin-right: 0px;
        margin-top: 30px;
    }
    .org-list-item {
        width: 48%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    /* common-css */
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 10px;
    }
    .main-heading {
        width: 62%;
    }
    .top-row p {
        width: 100%;
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
    }
    /* common-css */
    .org-list-loop {
        margin-right: 0px;
        margin-top: 30px;
    }
    .org-list-item {
        width: 48%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1730px) {
    .main-heading {
        width: 62%;
    }
    .top-row p {
        width: 80%;
    }
    .overall-button {
        margin-top: 36px;
    }
}