<!--
  ~ Copyright (c) Akveo 2019. All Rights Reserved.
  ~ Licensed under the Single Application / Multi Application License.
  ~ See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
  -->



<!--   <nb-card>
      <nb-card-header>
       Organisations -->

<!---- <nb-alert *ngIf="CreatedOrg" outline="success" role="alert">
        <ul class="alert-message-list">
          <li class="alert-message">Organization Added Successfully !</li>
        </ul>
      </nb-alert>-->
<!--   </nb-card-header>
      
      <nb-card-body>
    <ng2-smart-table class="example-smart-table"
    [settings]="settings"
    [source]="this.arrorg.organization"
    (createConfirm)="addRecord($event)"
    (deleteConfirm)="deleteRecord($event)"
    (editConfirm)="updateRecord($event)">
</ng2-smart-table>
</nb-card-body>
</nb-card> -->



<div class="profil-form overall-css">



    <div class="custom-column">

        <div class="top-row">
            <div class="main-heading">
                <h1>Organisations</h1>
                <p>Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush</p>

            </div>

            <div class="overall-button">
                <a href="#">Add Organisation</a>

            </div>
        </div>




        <div class="org-list-loop">


            <div class="org-list-item">
                <img src="assets/images/org1.png" class="img-fluid" alt="">
                <h1>redPanda Software</h1>
                <div class="border_center"></div>
                <h1>Free Account</h1>

            </div>


            <div class="org-list-item">
                <img src="assets/images/org2.png" class="img-fluid" alt="">
                <h1> Twelve South</h1>
                <div class="border_center"></div>
                <h1>Free Account</h1>

            </div>


            <div class="org-list-item">
                <img src="assets/images/org1.png" class="img-fluid" alt="">
                <h1>redPanda Software</h1>
                <div class="border_center"></div>
                <h1>Free Account</h1>

            </div>



            <div class="org-list-item">
                <img src="assets/images/org2.png" class="img-fluid" alt="">
                <h1> Twelve South</h1>
                <div class="border_center"></div>
                <h1>Free Account</h1>

            </div>




        </div>













    </div>
</div>