p {
    font-size: 12px;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.custom-column {
    width: 55%;
    margin-left: 15%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.main-heading h1 {
    font-size: 24px;
    font-weight: 500;
    color: #3b4859;
    font-family: 'Cerebri Sans';
}

.margin-heading {
    margin-bottom: 30px;
    font-family: 'Cerebri Sans';
}

.form-setting h1 {
    margin-bottom: 0px;
    font-family: 'Cerebri Sans';
}

.overall-button {
    margin-top: 35px;
}

.overall-button a {
    border-radius: 9px;
    background-color: #006a68;
    color: #fff;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    width: 146px;
    font-family: 'Cerebri Sans';
    display: block;
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.top-row p {
    width: 65%;
    font-family: 'Cerebri Sans';
}

.border_center {
    border-top: solid 1px #e9edf4;
}

.bottom-events-data {
    margin-top: 10px;
}

.margin-top {
    margin-top: -25px !important;
}

.top-profile {
    display: flex;
}

.top-profile p {
    opacity: 0.48;
    font-size: 12px;
    color: #3b4859;
    margin: 0px;
    font-family: 'Cerebri Sans';
    padding: 0px;
}

.top-profile h3 {
    font-size: 16px;
    color: #3b4859;
    margin: 0px;
    padding: 0px;
    margin-top: -8px;
    font-family: 'Cerebri Sans';
    font-weight: normal;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 15%;
    position: relative;
    width: 12%;
    padding-left: 17px;
}

.main-heading h1 {
    font-size: 24px;
    font-family: 'Cerebri Sans';
    font-weight: 500;
    color: #3b4859;
}

.border-bottom {
    border-top: 1px solid #e9edf4;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Cerebri Sans';
}

.margin-set {
    margin-left: 0% !important;
}

.events-data img {
    display: inline !important;
    margin-top: 11px;
    margin-right: 2px;
    border-radius: 0px;
}

.top-profile {
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 24px;
    position: relative;
}

.top-profile p {
    opacity: 0.48;
    font-size: 12px;
    font-family: 'Cerebri Sans';
    color: #3b4859;
    margin: 0px;
    padding: 0px;
}

.top-profile h3 {
    font-size: 16px;
    color: #3b4859;
    margin: 0px;
    font-family: 'Cerebri Sans';
    padding: 0px;
    margin-top: -8px;
}

.right_border {
    border-right: 1px solid #dadada;
    min-width: 9%;
    position: relative;
    width: 12%;
}

.right_none {
    margin-right: 0px;
}

.custom-preview .form-control {
    background: #939393;
    height: 30px;
    border-radius: 9px;
    font-family: 'Cerebri Sans';
    color: #fff;
    padding: 0px 20px 0px 20px;
    min-width: 146px;
    font-size: 12px;
}

.custom-preview {
    position: absolute;
    right: 13%;
    top: 11px;
}

::ng-deep .form-control {
    width: 96% !important;
    background: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    font-family: 'Cerebri Sans';
    border-radius: 0px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.43px;
    color: #c9c9c9;
    padding-left: 0px;
}

::ng-deeplabel {
    font-size: 14px;
    font-family: 'Cerebri Sans';
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #6d7278;
}

.move-down {
    margin-top: 60px;
}


/* .my-custom-one {
margin-left: 20px;
} */

.top-down {
    margin-top: 10px;
}

p {
    font-size: 12px;
    font-family: 'Cerebri Sans';
    color: #3b4859;
}

.overall-css {
    padding-bottom: 80px;
    margin-top: 50px;
}

.add-org .form-group input {
    padding: 0;
    height: initial;
    font-family: 'Cerebri Sans';
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.add-org .form-group label {
    position: relative;
    cursor: pointer;
}

.add-org .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: solid 1px #006a68;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 11px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 50%;
}

.add-org .form-group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 5px;
    height: 10px;
    border: solid 1px #006a68;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.checkbox-text {
    font-size: 14px;
    color: #6d7278;
    font-family: 'Cerebri Sans';
}

.add-event-new {
    margin-top: 30px
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c9c9c9;
    font-family: 'Cerebri Sans';
}

.two_btn {
    display: flex;
}

.spae {
    margin-left: 25px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .two_btn .overall-button a {
        width: 100%;
    }
    .top-profile {
        display: block;
    }
    .custom-preview {
        position: static;
        width: 69%;
        margin-top: 10px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 100%;
        position: relative;
        width: 100%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 23%;
    }
    /* ***** */
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: block;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
    .top-profile {
        display: block;
    }
    .custom-preview {
        position: static;
        width: 69%;
        margin-top: 10px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 100%;
        position: relative;
        width: 100%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 23%;
    }
    /* ***** */
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 40%;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 668px) and (max-width: 767px) {
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 29%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 23%;
    }
    /* ***** */
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    .picker-one .shape-rectangle {
        width: 100%;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 100%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 29%;
    }
    .left-block-setting {
        width: 100%;
    }
    .block {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
    .org-list-item {
        min-height: inherit;
    }
    .event-four-blocks {
        display: block;
    }
    .overall-blocks_setting {
        display: block;
    }
    .right-block_setting {
        width: 100%;
        margin-left: 0%;
    }
    .event-ticketss {
        margin-top: 8%;
    }
    /* ***** */
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
        width: 100%;
    }
    .picker-one .shape-rectangle {
        width: 100%;
        max-width: inherit !important;
    }
    .form-control {
        width: 100%;
    }
    .main-heading h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .form-setting p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .custom-column {
        width: 85%;
        margin-left: 10%;
        padding-top: 0px;
    }
    .form-settings {
        display: block;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    /* common-css */
    .top-row {
        display: block;
    }
    .top-row p {
        width: 100%;
        font-family: "Cerebri Sans";
    }
    .overall-button {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* common-css */
    .org-list-item {
        width: 48%;
    }
    .org-list-loop {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1930px) {
    .right_border {
        border-right: 1px solid #dadada;
        min-width: 9%;
        position: relative;
        width: 29%;
    }
    .main-heading {
        width: 72%;
    }
    .top-row p {
        width: 80%;
    }
    .datepicker-select {
        display: block;
    }
    .left-selection {
        display: flex;
    }
    .left-blocks-data {
        width: 100%;
    }
    .margin-left-set {
        margin-left: 0px;
        margin-top: 18px;
    }
    .picker-one {
        margin-right: 12px;
        margin-top: 15px;
        width: 100%;
    }
    .picker-one .shape-rectangle {
        width: 100%;
        max-width: inherit !important;
    }
}