<!-- <h1>New Ticket</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="ticketForm" (ngSubmit)="addticket()">
   
    <div class="form-group"> 
      <label for="ticket_name">Ticket Name:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="ticket_name"
      formControlName="ticket_name"
       class="form-control" required >
    </div>
    <div class="form-group">
      <label for="ticket_type">Ticket Type:</label>
      <nb-select selected="free" id="ticket_type"
      formControlName="ticket_type" fieldSize="large" >
        <nb-option value="free">Free</nb-option>
        <nb-option value="paid">Paid</nb-option>
      </nb-select>
    </div>
     <div class="form-group">
      <label for="ticket_price">Price:</label>
      <input type="number" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="ticket_price"
      formControlName="ticket_price">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
	  <textarea class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="description"
      formControlName="description" rows="10" cols="30"></textarea>
    </div>
  <div class="form-group">
      <label for="ticket_count">Number of Tickets:</label>
      <input type="number" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="ticket_count"
      formControlName="ticket_count">
    </div>
	<div class="form-group">
      <label for="hide_ticket">Hide the Ticket:</label>
      <input type="checkbox" fullWidth
      fieldSize="large"
      id="hide_ticket"
      formControlName="hide_ticket">
    
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
 -->


<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
            <option>Preview</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>






<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>Ticketing</h1>


            </div>

            <div class="overall-button">
                <a href="#">Create Ticket</a>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Ticket Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Dragon Global 2020">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="my-custom-one">Ticket type</label>
                <input type="text" class="form-control my-custom-one" id="inputPassword4" placeholder="VIP">
            </div>
        </div>


        <div class="form-row top-down">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Price</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="$99">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" class="my-custom-one">Number of tickets</label>
                <input type="number" class="form-control my-custom-one" id="inputPassword4" placeholder="2">
            </div>
        </div>



        <div class="form-row top-down add-org add-event-new">
            <div class="form-group col-md-12">

                <div class="form-group">
                    <input type="checkbox" id="html">
                    <label for="html" class="checkbox-text">Hide this ticket</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="html">
                    <label for="html" class="checkbox-text">Hide ticket from public -  only available to those with the specific link</label>
                </div>

            </div>

        </div>






        <div class="two_btn">
            <div class="overall-button">
                <a href="#">Cancel</a>

            </div>
            <div class="overall-button spae">
                <a href="#">Save</a>

            </div>

        </div>
    </div>
</div>