<!-- <nb-card>
   
    <nb-card-header>
      Reception Data
      <button type="button" class="btn btn-primary" routerLink="/pages/addreception">Add Reception</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arreception.receptions"
      (editConfirm)="updatereception($event)"
      (deleteConfirm)="deletereception($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card> -->





<div class="top-profile">
    <div class="right_border">
        <p>Organisation</p>
        <h3>83 ideas</h3>
    </div>
    <div class="right_border">
        <p>Events</p>
        <h3>Life Uncontained</h3>
    </div>

    <div class="custom-preview">


        <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
          <option>Preview</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        </div>


    </div>

    <div class="preview_btn"></div>
</div>






<div class="profil-form overall-css">



    <div class="custom-column">
        <div class="top-row">
            <div class="main-heading">
                <h1>Reception</h1>


            </div>

            <div class="overall-button">
                <a href="#">Publish Event</a>

            </div>
        </div>


        <div class="landing-ticket">
            <div class="editor-section">Blank now</div>
            <div class="write_area">
                <div class="form-group">

                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type something" rows="3"></textarea>
                </div>
            </div>

        </div>

        <div class="event-detail">

            <div class="org-list-item">
                <img src="assets/images/event-detail.png" class="img-fluid" alt="">

                <div class="events-data">
                    <h3>Dragon Global 2020</h3>
                    <p>Hosted by Dragon Global</p>
                    <div class="border_center"></div>
                    <div class="bottom-events-data">
                        <p><img src="assets/images/calender.svg" alt=""> 22 Sep, 9:30 to 02 Oct, 7:30 SAST</p>
                        <p class="margin-top"> <img src="assets/images/ticket.svg" alt=""> R300.00</p>

                    </div>
                </div>
            </div>


        </div>



        <div class="bottom-row">

            <div class="row-data">
                <div class="announcement">
                    <span class="ann-geading">Announcement Feed</span> <span class="toggle_btn"><label class="switch">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>
                    </span>

                </div>
                <div class="sponsors"> <span class="ann-geading">Show Sponsors</span> <span class="toggle_btn"><label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                    </label>
                    </span>
                </div>
                <div class="welcome-video">


                    <label for="inputEmail4">Welcome Video</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Youtube link Only">



                </div>

            </div>


            <div class="overall-button float-right">
                <a href="#">Save</a>

            </div>

        </div>




    </div>
</div>